# Dictionary
* Dictionary is a key value pair
* key data type string , int , float
* value data type string , int ,float , dict , list

In [1]:
employee1 = {"Name" : "Danial", "age" : 30, "salary" : 300000.0}

In [2]:
employee2 = ["Ali",25,56000.0]

In [3]:
print(employee1)
print(employee2)

{'Name': 'Danial', 'age': 30, 'salary': 300000.0}
['Ali', 25, 56000.0]

In [4]:
type(employee1)

dict

In [5]:
employee1["Name"]

'Danial'

In [6]:
"age" in employee1 # Membership

True

In [7]:
# Update Name
employee1["Name"] = "Salman"
employee1

{'Name': 'Salman', 'age': 30, 'salary': 300000.0}

In [8]:
# if key is not created then dict create key and intialize the value
employee1["Gender"] = "Male"
employee1

{'Name': 'Salman', 'age': 30, 'salary': 300000.0, 'Gender': 'Male'}

In [9]:
# removes and returns element having given key 
employee1.pop("age")

30

In [10]:
employee1

{'Name': 'Salman', 'salary': 300000.0, 'Gender': 'Male'}

In [11]:
# Removes all Items
employee1.clear()
employee1

{}

# IMPORT APPLE STORE DATA

In [12]:
from csv import reader

In [13]:
open_file = open("Datasets\AppleStore.csv",encoding="utf-8")
read_file = reader(open_file)
dataset = list(read_file)
dataset[0]

['id',
 'track_name',
 'size_bytes',
 'currency',
 'price',
 'rating_count_tot',
 'rating_count_ver',
 'user_rating',
 'user_rating_ver',
 'ver',
 'cont_rating',
 'prime_genre',
 'sup_devices.num',
 'ipadSc_urls.num',
 'lang.num',
 'vpp_lic']

* Genrate a frequency table of total user rating by given below condition:
    * 0-10000 
    * 10001-100000
    * 100001-500000
    * 500001-1000000
    * 1000001 - so on

In [14]:
dataset[0].index("rating_count_tot")

5

In [15]:
tot_User_Rating = {"0-10000":0,"10001-100000":0,"100001-500000":0,"500001-1000000":0,"1000001":0}
for i in dataset[1:]:
    Total_Rating = int(i[5])
    if Total_Rating >= 0 and Total_Rating <= 10000:
        tot_User_Rating["0-10000"] += 1
    elif Total_Rating >= 10001 and Total_Rating <= 100000:
        tot_User_Rating["10001-100000"] += 1
    elif Total_Rating >= 100001 and Total_Rating <= 500000:
        tot_User_Rating["100001-500000"] += 1
    elif Total_Rating >= 500001 and Total_Rating <= 1000000:
        tot_User_Rating["500001-1000000"] += 1
    elif Total_Rating >= 1000001:
        tot_User_Rating["1000001"] += 1

In [16]:
tot_User_Rating

{'0-10000': 6181,
 '10001-100000': 798,
 '100001-500000': 196,
 '500001-1000000': 16,
 '1000001': 6}

# Class Task
* Genrate a frequency table of total user rating by given below condition:
    * 0-10000 
    * 10001-100000
    * 100001-500000
    * 500001-1000000
    * 1000001 - so on
    * Note : without using any logical operators

In [17]:
tot_User_Rating = {"0-10000":0,"10001-100000":0,"100001-500000":0,"500001-1000000":0,"1000001":0}
for i in dataset[1:]:
    Total_Rating = int(i[5])
    if 0 <= Total_Rating <= 10000:
        tot_User_Rating["0-10000"] += 1
    elif 10001 <= Total_Rating <= 100000:
        tot_User_Rating["10001-100000"] += 1
    elif 100001 <= Total_Rating <= 500000:
        tot_User_Rating["100001-500000"] += 1
    elif 500001 <= Total_Rating <= 1000000:
        tot_User_Rating["500001-1000000"] += 1
    elif Total_Rating >= 1000001:
        tot_User_Rating["1000001"] += 1

In [18]:
tot_User_Rating

{'0-10000': 6181,
 '10001-100000': 798,
 '100001-500000': 196,
 '500001-1000000': 16,
 '1000001': 6}

* Genrate a frequency table of prime genre

In [19]:
dataset[0]

['id',
 'track_name',
 'size_bytes',
 'currency',
 'price',
 'rating_count_tot',
 'rating_count_ver',
 'user_rating',
 'user_rating_ver',
 'ver',
 'cont_rating',
 'prime_genre',
 'sup_devices.num',
 'ipadSc_urls.num',
 'lang.num',
 'vpp_lic']

In [20]:
dataset[0].index("prime_genre")

11

In [21]:
Prime_Genre = {}
for i in dataset[1:]:
    genre = i[11]
    if genre in Prime_Genre:
        Prime_Genre[genre] += 1
    elif genre not in Prime_Genre:
        Prime_Genre[genre] = 1
Prime_Genre

{'Social Networking': 167,
 'Photo & Video': 349,
 'Games': 3862,
 'Music': 138,
 'Reference': 64,
 'Health & Fitness': 180,
 'Weather': 72,
 'Utilities': 248,
 'Travel': 81,
 'Shopping': 122,
 'News': 75,
 'Navigation': 46,
 'Lifestyle': 144,
 'Entertainment': 535,
 'Food & Drink': 63,
 'Sports': 114,
 'Book': 112,
 'Finance': 104,
 'Education': 453,
 'Productivity': 178,
 'Business': 57,
 'Catalogs': 10,
 'Medical': 23}

# Class Task
* Genrate a frequency table of prime genre for unpaid Apps

In [22]:
Unpaid_Apps = {}
for i in dataset[1:]:
    genre = i[11]
    price = float(i[4])
    if price == 0:
        if genre in Unpaid_Apps:
            Unpaid_Apps[genre] += 1
        elif genre not in Unpaid_Apps:
            Unpaid_Apps[genre] = 1
Unpaid_Apps

{'Social Networking': 143,
 'Photo & Video': 167,
 'Games': 2257,
 'Music': 67,
 'Reference': 20,
 'Health & Fitness': 76,
 'Weather': 31,
 'Utilities': 109,
 'Travel': 56,
 'Shopping': 121,
 'News': 58,
 'Navigation': 20,
 'Lifestyle': 94,
 'Entertainment': 334,
 'Food & Drink': 43,
 'Sports': 79,
 'Book': 66,
 'Finance': 84,
 'Education': 132,
 'Productivity': 62,
 'Business': 20,
 'Catalogs': 9,
 'Medical': 8}

# Class Task
* Genrate a frequency table of prime genre for paid Apps where user rating is greater than 4

In [23]:
paid_Apps = {}
for i in dataset[1:]:
    genre = i[11]
    price = float(i[4])
    rating = float(i[7])
    if price != 0 and rating > 4:
        if genre in paid_Apps:
            paid_Apps[genre] += 1
        elif genre not in paid_Apps:
            paid_Apps[genre] = 1
paid_Apps

{'Games': 813,
 'Music': 34,
 'Photo & Video': 89,
 'Business': 18,
 'Weather': 16,
 'Health & Fitness': 67,
 'Entertainment': 55,
 'Utilities': 36,
 'Education': 114,
 'Reference': 21,
 'Productivity': 57,
 'Lifestyle': 17,
 'Book': 29,
 'Finance': 10,
 'Sports': 10,
 'Medical': 9,
 'Shopping': 1,
 'Food & Drink': 9,
 'News': 4,
 'Navigation': 9,
 'Social Networking': 6,
 'Travel': 10,
 'Catalogs': 1}