# Functions
    * Built Functions like print,len,str,int,float,type,list
    * Function Declaration syntax:
        def function_name():
            statement
            return 0

In [6]:
# Delcaration of function
def add(x,y): # Parameters
    addition = x + y
    return addition

In [19]:
# Call function 
print(add(5,4)) # postional arguments

9

In [13]:
def seq_root(x):
    return print(x*x , x**2)

In [16]:
seq_root(7)

49 49

In [23]:
def test(a,b,e):
    return a - e , a + b

In [24]:
test(5,6,1)

(4, 11)

In [27]:
test(b = 5, e = 2, a = 1) # keywords arguments

(-1, 6)

In [31]:
test(5 , e = 2 , b = 1) # mix arguments (first postion arguement then keywords arguments)

(3, 6)

In [34]:
def tax(salary,tax_rate=0.05): # default arguemnts
    return salary*tax_rate

In [36]:
tax(18000)

900.0

In [38]:
tax(18000,0.10)

1800.0

In [40]:
tax(tax_rate=0.2,salary=8000)

1600.0

In [41]:
tax(500,tax_rate=.2)

100.0

In [19]:
def read_file(file_name):
    from csv import reader
    return list(reader(open(file_name,encoding="utf-8")))

In [21]:
dataset = read_file("Datasets\AppleStore.csv")

In [22]:
dataset[0]

['id',
 'track_name',
 'size_bytes',
 'currency',
 'price',
 'rating_count_tot',
 'rating_count_ver',
 'user_rating',
 'user_rating_ver',
 'ver',
 'cont_rating',
 'prime_genre',
 'sup_devices.num',
 'ipadSc_urls.num',
 'lang.num',
 'vpp_lic']

* Create a function for frequency table
    1. first parameter = dataset
    2. second parameter = col index number

In [23]:
def freq(dataset,index):
    dictionary = {}
    for i in dataset[1:]:
        value = i[index]
        if value in dictionary:
            dictionary[value] += 1
        elif value not in dictionary:
            dictionary[value] = 1
    return dictionary

In [24]:
freq(dataset,-5)

{'Social Networking': 167,
 'Photo & Video': 349,
 'Games': 3862,
 'Music': 138,
 'Reference': 64,
 'Health & Fitness': 180,
 'Weather': 72,
 'Utilities': 248,
 'Travel': 81,
 'Shopping': 122,
 'News': 75,
 'Navigation': 46,
 'Lifestyle': 144,
 'Entertainment': 535,
 'Food & Drink': 63,
 'Sports': 114,
 'Book': 112,
 'Finance': 104,
 'Education': 453,
 'Productivity': 178,
 'Business': 57,
 'Catalogs': 10,
 'Medical': 23}

* Create a function for frequency table
    1. first parameter = dataset
    2. second parameter = col name

In [29]:
def freq_table(dataset,col):
    index = dataset[0].index(col)
    dictionary = {}
    for i in dataset[1:]:
        value = i[index]
        if value in dictionary:
            dictionary[value] += 1
        elif value not in dictionary:
            dictionary[value] = 1
    return dictionary

In [30]:
freq_table(dataset,"prime_genre")

{'Social Networking': 167,
 'Photo & Video': 349,
 'Games': 3862,
 'Music': 138,
 'Reference': 64,
 'Health & Fitness': 180,
 'Weather': 72,
 'Utilities': 248,
 'Travel': 81,
 'Shopping': 122,
 'News': 75,
 'Navigation': 46,
 'Lifestyle': 144,
 'Entertainment': 535,
 'Food & Drink': 63,
 'Sports': 114,
 'Book': 112,
 'Finance': 104,
 'Education': 453,
 'Productivity': 178,
 'Business': 57,
 'Catalogs': 10,
 'Medical': 23}

In [31]:
freq_table(dataset,"user_rating")

{'3.5': 702,
 '4.5': 2663,
 '4': 1626,
 '3': 383,
 '5': 492,
 '2.5': 196,
 '2': 106,
 '1.5': 56,
 '1': 44,
 '0': 929}